---
import BaseLayout from "../layouts/base-layout.astro";
import { Greeting } from "../components/gretting.tsx";
---

<BaseLayout pageTitle="Home page">
    <h2>My awesome blog subtitle</h2>
    <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
    <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
